.NP-container{
    width:100%;
    background-color: #F7F9FA;
    margin-top: 92px;
}

.NP-container-content{
    width:1400px;
    max-width: 1400px;
    height: auto;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
}

/*---------- .NP-notify ---------*/
.NP-notify{
    width: 560px;
    height: auto;
    text-align: center;
}

.NP-notify .Notify-Icon{
    width: 60px;
    height: 60px;
    margin: 0 0 15px;
    color: #0194F3;
}

.NP-notify > p{
    color: #4D5156;
}

.NP-notify > p.p-1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.NP-notify > p.p-2,
.NP-notify > p.p-3{
    font-size: 15px;
}

.NP-notify > p.p-3{
    margin: 6px 0 20px;
}

.NP-Order-Information{
    width: 100%;
    border: 1px solid #E0E0E0;
    text-align: left;
}

.NP-Order-Information .top{
    font-size: 18px;
    padding: 20px;
    border-bottom: 1px solid #E0E0E0;
}

.NP-Order-Information .bottom .row-1,
.NP-Order-Information .bottom .row-2,
.NP-Order-Information .bottom .row-3,
.NP-Order-Information .bottom .row-4,
.NP-Order-Information .bottom .row-5,
.NP-Order-Information .bottom .row-6{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.NP-Order-Information .bottom .row-1 p:nth-child(2),
.NP-Order-Information .bottom .row-2 p:nth-child(2),
.NP-Order-Information .bottom .row-3 p:nth-child(2),
.NP-Order-Information .bottom .row-4 p:nth-child(2),
.NP-Order-Information .bottom .row-5 p:nth-child(2),
.NP-Order-Information .bottom .row-6 p:nth-child(2){
    font-weight: bold;
}

.NP-notify .Button-buy-ticket{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 20px 0;
    border-top: 1px solid #E0E0E0;
}

.NP-notify .Button-buy-ticket a{
    padding: 10px 80px;
    border: 2px solid #0194F3;
    color: #0194F3;
    cursor: pointer;
}